In [1]:
#Loading Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
#Defining the url
url = 'https://www.bls.gov/emp/tables/education-and-training-by-occupation.htm'

In [3]:
#Webscraping
tables = pd.read_html(url)
tables

[                 2020 National Employment Matrix title  \
 0                                     Chief executives
 1                      General and operations managers
 2                                          Legislators
 3                  Advertising and promotions managers
 4                                   Marketing managers
 ..                                                 ...
 786                                   Wellhead pumpers
 787          Refuse and recyclable material collectors
 788                  Tank car, truck, and ship loaders
 789                 Material moving workers, all other
 790  Source: Employment Projections program, U.S. B...

                   2020 National Employment Matrix code  \
 0                                              11-1011
 1                                              11-1021
 2                                              11-1031
 3                                              11-2011
 4                                              11-2021
 ..                                                 ...
 786                                            53-7073
 787                                            53-7081
 788                                            53-7121
 789                                            53-7199
 790  Source: Employment Projections program, U.S. B...

                     Typical education needed for entry  \
 0                                    Bachelor's degree
 1                                    Bachelor's degree
 2                                    Bachelor's degree
 3                                    Bachelor's degree
 4                                    Bachelor's degree
 ..                                                 ...
 786                  High school diploma or equivalent
 787                   No formal educational credential
 788                   No formal educational credential
 789                   No formal educational credential
 790  Source: Employment Projections program, U.S. B...

                Work experience in a related occupation  \
 0                                      5 years or more
 1                                      5 years or more
 2                                    Less than 5 years
 3                                    Less than 5 years
 4                                      5 years or more
 ..                                                 ...
 786                                  Less than 5 years
 787                                               None
 788                                               None
 789                                               None
 790  Source: Employment Projections program, U.S. B...

     Typical on-the-job training needed to attain competency in the occupation
 0                                                 None
 1                                                 None
 2                                                 None
 3                                                 None
 4                                                 None
 ..                                                 ...
 786                  Moderate-term on-the-job training
 787                     Short-term on-the-job training
 788                     Short-term on-the-job training
 789                     Short-term on-the-job training
 790  Source: Employment Projections program, U.S. B...

 [791 rows x 5 columns]]

In [4]:
#checking the datatype
type(tables)

list

In [5]:
#Creating a dataframe from website data
education_df = tables[0]
education_df.head()

,2020 National Employment Matrix title,2020 National Employment Matrix code,Typical education needed for entry,Work experience in a related occupation,Typical on-the-job training needed to attain competency in the occupation
0,Chief executives,11-1011,Bachelor's degree,5 years or more,None
1,General and operations managers,11-1021,Bachelor's degree,5 years or more,None
2,Legislators,11-1031,Bachelor's degree,Less than 5 years,None
3,Advertising and promotions managers,11-2011,Bachelor's degree,Less than 5 years,None
4,Marketing managers,11-2021,Bachelor's degree,5 years or more,None

In [6]:
#Refining the headers
education_df = education_df.rename(columns= {"2020 National Employment Matrix title":"job_title", "2020 National Employment Matrix code":"job_code", "Typical education needed for entry":"education", "Work experience in a related occupation":"work_experience","Typical on-the-job training needed to attain competency in the occupation":"training"})
education_df.head()

,job_title,job_code,education,work_experience,training
0,Chief executives,11-1011,Bachelor's degree,5 years or more,None
1,General and operations managers,11-1021,Bachelor's degree,5 years or more,None
2,Legislators,11-1031,Bachelor's degree,Less than 5 years,None
3,Advertising and promotions managers,11-2011,Bachelor's degree,Less than 5 years,None
4,Marketing managers,11-2021,Bachelor's degree,5 years or more,None

In [7]:
#Dropping a column
clean_education_df = education_df.drop(columns="job_title")
clean_education_df.head()

  job_code          education    work_experience training
0  11-1011  Bachelor's degree    5 years or more     None
1  11-1021  Bachelor's degree    5 years or more     None
2  11-1031  Bachelor's degree  Less than 5 years     None
3  11-2011  Bachelor's degree  Less than 5 years     None
4  11-2021  Bachelor's degree    5 years or more     None

In [8]:
#storing the dataframe as html file
clean_education_df.to_html('education_table.html')

In [9]:
from config import user,pwd
engine = create_engine(f'postgresql://{user}:{pwd}@localhost:5432/employment_db')
connection = engine.connect()

In [11]:
#storing the dataframe in the employment_db "education" table
clean_education_df.to_sql('education', engine, if_exists = 'replace', index=False)

In [12]:
#data analysis
jobs = clean_education_df["job_code"].nunique()
print("The total number of jobs listed in the Employment projection program are:",jobs)

The total number of jobs listed in the Employment projection program are: 791

In [13]:
training = clean_education_df["training"].value_counts()
print("Number of jobs with training requirements:")
training_df = pd.DataFrame(training)
training_df= training_df.reset_index()
training_df = training_df.rename(columns={"training":"number of jobs", "index":"training required"})
training_df["percentage of jobs"] = training_df["number of jobs"]/jobs*100
training_df["percentage of jobs"] = training_df["percentage of jobs"].astype(float).map("{:,.0f}%".format)
training_df.head()

Number of jobs with training requirements:

                   training required  number of jobs percentage of jobs
0                               None             306                39%
1  Moderate-term on-the-job training             222                28%
2     Short-term on-the-job training             166                21%
3      Long-term on-the-job training              56                 7%
4               Internship/residency              25                 3%

In [14]:
experience = clean_education_df["work_experience"].value_counts()
print("Number of jobs with experience requirements:")
experience_df = pd.DataFrame(experience)
experience_df = experience_df.reset_index()
experience_df = experience_df.drop(index=3)
experience_df = experience_df.rename(columns={"work_experience":"number of jobs", "index":"experience required"})
experience_df["percentage of jobs"] = experience_df["number of jobs"]/jobs*100
experience_df["percentage of jobs"] = experience_df["percentage of jobs"].astype(float).map("{:,.0f}%".format)
experience_df.head()

Number of jobs with experience requirements:

  experience required  number of jobs percentage of jobs
0                None             686                87%
1   Less than 5 years              77                10%
2     5 years or more              27                 3%

In [16]:
degree = clean_education_df["education"].value_counts()
print("Number of jobs with education requirements:")
degree_df = pd.DataFrame(degree)
degree_df = degree_df.reset_index()
degree_df = degree_df.rename(columns={"education":"number of jobs", "index":"degree required"})
degree_df["percentage of jobs"] = degree_df["number of jobs"]/jobs*100
degree_df["percentage of jobs"] = degree_df["percentage of jobs"].astype(float).map("{:,.0f}%".format)
degree_df.head()

Number of jobs with education requirements:

                     degree required  number of jobs percentage of jobs
0  High school diploma or equivalent             322                41%
1                  Bachelor's degree             169                21%
2   No formal educational credential             103                13%
3    Doctoral or professional degree              64                 8%
4      Postsecondary nondegree award              45                 6%